<html>
<head>
    <meta charset="utf-8">
    <title>EmotionSupporter</title>
</head>
<body style="background: black;">
    <div style="display:flex;justify-content:center;align-items:center;">
        <h3 id="letter" style="color: white;"></h3>
      </div>
    <!--<div style="background: black; height: 100vh; display: flex; align-items: center; text-align: center;">
        
    </div>
    <div style="background: black; margin: 0 auto; align-items: center; height: 100%; width: 100%; text-align: center;">
        
    </div>-->
    <script type="text/javascript">
        function load() {
            sessionStorage.setItem("req", "false");
            setInterval(function() {
                if (sessionStorage.getItem("req") == "false") {
                    sessionStorage.setItem("req", "true");
                    fetch("/api").then(function(response) {
                        let data = response.json();
                        data.then(function(data) {
                            document.getElementById("letter").innerHTML = data.letter;
                            sessionStorage.setItem("req", "false");
                        });
                    });
                }
            }, 1000);
        }
        window.onload = load;
    </script>
</body>
</html>